body {
  background: url(assets/images/mtsbg1.jpg) center center no-repeat;
}

.jumbotron {
  text-align: center;
  border-color: bg-transparent;
}

.h1 {
  border: none
}

.card-body {
margin: 10px;
}

#answersBox {
  border: none
}

#questions {
  border: none
}


button {
  padding: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 20%;
  border-radius: 12px;
  font-size: 20px;
  text-align: center;
  background-color: #b8688d;
  color: white;
  border-style: groove;
  border-color: rgb(61, 39, 52);
}

.boxes {
  text-align: center;
}

#highScore {
  text-align: center;
  border-radius: 12px;
}